@import "../../Helpers/colors/index.scss";
.dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  vertical-align: top;
  transition: 1s;
  &-trigger {
    position: relative;
    button {
      padding: 12px;
    }
  }
  &-menu {
    display: none;
    left: 0;
    opacity: 0;
    min-width: 12rem;
    padding-top: 4px;
    position: relative;
    top: 100%;
    z-index: 20;
    transition: 1s;
  }
  &.show {
    transition: 1s;
    .dropdown-menu {
      display: block;
      transition: 1s;
      opacity: 1;
    }
  }
  &-action {
    padding: 10px 20px;
  }
  &-list {
    list-style-type: none;
    padding-left: 0;
    transition: 0.3s ease;
    &:hover {
      .dropdown-links {
        display: block;
      }
    }
  }
  &-links {
    list-style-type: none;
    padding-left: 0;
    display: none;

    a {
      padding: 10px 20px;
      margin-top: 10px;
      display: block;
    }
  }
}
.clicksItems {
  a {
    background-color: red;
  }
}
.blueviolet {
  background-color: blueviolet;
}
