.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  .page {
    &-link {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: transparent;
      border: 0;
      outline: 0;
      border-radius: 4px;
      transition: all 0.3s linear;
      padding: 6px 6px;
      &:hover {
        color: #ddd;
      }
    }
  }
}
