@import "../grid/index.scss";
@import "../../Helpers/helper";

#flex {
  h1 {
    margin-bottom: 20px;
  }
}
hr {
  margin: 1rem 0;
}
.columns {
  display: flex;
  margin-right: -12px;
  margin-left: -12px;

  .column {
    display: block;
    margin-top: 10px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 5px;
    padding: 12px;
    background-color: #2de0dd;
    border-radius: 10px;
    p {
      border-radius: 0.375em;
      color: #000;
      font-weight: 600;
      padding: 1.25rem 0;
      position: relative;
      text-align: center;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 32px;
  .red {
    padding: 3rem;
    border: 1px solid #000;
  }
  .blue {
    background-color: blue;
  }
  &.is-center {
    justify-content: center;
    align-items: center;
  }
  &.is-start {
    justify-content: start;
    align-items: flex-start;
  }
  &.is-end {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@include screen("custom", max, 1920) {
  [col="12"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  [col="11"] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [col="10"] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [col="9"] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [col="8"] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [col="7"] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [col="6"] {
    flex: 0 0 50%;
    max-width: 50%;
    background-color: red;
  }
  [col="5"] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [col="4"] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [col="3"] {
    flex: 0 0 25%;
    max-width: 25%;
    background-color: red;
  }
  [col="2"] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [col="1"] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@include screen("custom", max, 1600) {
  [md-col="12"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  [md-col="11"] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [md-col="10"] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [md-col="9"] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [md-col="8"] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [md-col="7"] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [md-col="6"] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [md-col="5"] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [md-col="4"] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [md-col="3"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [md-col="2"] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [md-col="1"] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@include screen("custom", max, 1024) {
  [lg-col="12"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  [lg-col="11"] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [lg-col="10"] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [lg-col="9"] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [lg-col="8"] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [lg-col="7"] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [lg-col="6"] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [lg-col="5"] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [lg-col="4"] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [lg-col="3"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [lg-col="2"] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [lg-col="1"] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@include screen("custom", max, 768) {
  [md-col="12"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  [md-col="11"] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [md-col="10"] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [md-col="9"] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [md-col="8"] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [md-col="7"] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [md-col="6"] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [md-col="5"] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [md-col="4"] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [md-col="3"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [md-col="2"] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [md-col="1"] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}

@include screen("custom", max, 475) {
  [sm-col="12"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
  [sm-col="11"] {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [sm-col="10"] {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [sm-col="9"] {
    flex: 0 0 75%;
    max-width: 75%;
  }
  [sm-col="8"] {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [sm-col="7"] {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [sm-col="6"] {
    flex: 0 0 50%;
    max-width: 50%;
  }
  [sm-col="5"] {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [sm-col="4"] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [sm-col="3"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
  [sm-col="2"] {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [sm-col="1"] {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}
