@import "../../Helpers/helper.scss";

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  max-width: 100%;
}
.col-cb {
  flex: 1 0 0%;
  -webkit-box-flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-flex-end {
  justify-content: flex-end !important;
}
.justify-content-flex-start {
  justify-content: flex-start !important;
}
.justify-content-space-around {
  justify-content: space-around !important;
}
.justify-content-space-between {
  justify-content: space-between !important;
}
.justify-content-sapce-evenly {
  justify-content: space-evenly !important;
}
.justify-content-unset {
  justify-content: unset !important;
}
.justify-content-unsafe {
  justify-content: unsafe !important;
}

@include screen("custom", max, 1600) {
  .md-justify-content-center {
    justify-content: center !important;
  }
  .md-justify-content-start {
    justify-content: start !important;
  }
  .md-justify-content-end {
    justify-content: end !important;
  }
  .md-justify-content-flex-end {
    justify-content: flex-end !important;
  }
  .md-justify-content-flex-start {
    justify-content: flex-start !important;
  }
  .md-justify-content-space-around {
    justify-content: space-around !important;
  }
  .md-justify-content-space-between {
    justify-content: space-between !important;
  }
  .md-justify-content-sapce-evenly {
    justify-content: space-evenly !important;
  }
  .md-justify-content-unset {
    justify-content: unset !important;
  }
  .md-justify-content-unsafe {
    justify-content: unsafe !important;
  }
}
@include screen("custom", max, 1300) {
  .sd-justify-content-center {
    justify-content: center !important;
  }
  .sd-justify-content-start {
    justify-content: start !important;
  }
  .sd-justify-content-end {
    justify-content: end !important;
  }
  .sd-justify-content-flex-end {
    justify-content: flex-end !important;
  }
  .sd-justify-content-flex-start {
    justify-content: flex-start !important;
  }
  .sd-justify-content-space-around {
    justify-content: space-around !important;
  }
  .sd-justify-content-space-between {
    justify-content: space-between !important;
  }
  .sd-justify-content-sapce-evenly {
    justify-content: space-evenly !important;
  }
  .sd-justify-content-unset {
    justify-content: unset !important;
  }
  .sd-justify-content-unsafe {
    justify-content: unsafe !important;
  }
}
@include screen("custom", max, 1024) {
  .li-justify-content-center {
    justify-content: center !important;
  }
  .li-justify-content-start {
    justify-content: start !important;
  }
  .li-justify-content-end {
    justify-content: end !important;
  }
  .li-justify-content-flex-end {
    justify-content: flex-end !important;
  }
  .li-justify-content-flex-start {
    justify-content: flex-start !important;
  }
  .li-justify-content-space-around {
    justify-content: space-around !important;
  }
  .li-justify-content-space-between {
    justify-content: space-between !important;
  }
  .li-justify-content-sapce-evenly {
    justify-content: space-evenly !important;
  }
  .li-justify-content-unset {
    justify-content: unset !important;
  }
  .li-justify-content-unsafe {
    justify-content: unsafe !important;
  }
}
@include screen("custom", max, 768) {
  .si-justify-content-center {
    justify-content: center !important;
  }
  .si-justify-content-start {
    justify-content: start !important;
  }
  .si-justify-content-end {
    justify-content: end !important;
  }
  .si-justify-content-flex-end {
    justify-content: flex-end !important;
  }
  .si-justify-content-flex-start {
    justify-content: flex-start !important;
  }
  .si-justify-content-space-around {
    justify-content: space-around !important;
  }
  .si-justify-content-space-between {
    justify-content: space-between !important;
  }
  .si-justify-content-sapce-evenly {
    justify-content: space-evenly !important;
  }
  .si-justify-content-unset {
    justify-content: unset !important;
  }
  .si-justify-content-unsafe {
    justify-content: unsafe !important;
  }
}
@include screen("custom", max, 475) {
  .mobile-justify-content-center {
    justify-content: center !important;
  }
  .mobile-justify-content-start {
    justify-content: start !important;
  }
  .mobile-justify-content-end {
    justify-content: end !important;
  }
  .mobile-justify-content-flex-end {
    justify-content: flex-end !important;
  }
  .mobile-justify-content-flex-start {
    justify-content: flex-start !important;
  }
  .mobile-justify-content-space-around {
    justify-content: space-around !important;
  }
  .mobile-justify-content-space-between {
    justify-content: space-between !important;
  }
  .mobile-justify-content-sapce-evenly {
    justify-content: space-evenly !important;
  }
  .mobile-justify-content-unset {
    justify-content: unset !important;
  }
  .mobile-justify-content-unsafe {
    justify-content: unsafe !important;
  }
}
