@font-face {
  font-family: "carbon";
  src: url("./fonts/carbon.eot?54xgp1");
  src: url("./fonts/carbon.eot?54xgp1#iefix") format("embedded-opentype"),
    // url("./fonts/carbon.ttf?54xgp1") format("truetype"),
    url("./fonts/carbon.woff?54xgp1") format("woff"),
    url("./fonts/carbon.svg?54xgp1#carbon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "carbon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carbon-area-chart:before {
  content: "\e900";
  color: #fff;
}
.icon-carbon-arrow-left:before {
  content: "\e901";
  color: #fff;
}
.icon-carbon-caret-down:before {
  content: "\e902";
  color: #fff;
}
.icon-carbon-copy:before {
  content: "\e903";
  color: #fff;
}
.icon-carbon-delete:before {
  content: "\e904";
  color: #fff;
}
.icon-carbon-login:before {
  content: "\e905";
  color: #fff;
}
.icon-carbon-logout:before {
  content: "\e906";
  color: #fff;
}
.icon-carbon-minus:before {
  content: "\e907";
  color: #fff;
}
.icon-carbon-right:before {
  content: "\e908";
  color: #fff;
}
.icon-carbon-right-circle:before {
  content: "\e909";
  color: #fff;
}
.icon-carbon-right-square:before {
  content: "\e90a";
  color: #fff;
}
