@import "../../Helpers/helper.scss";

.float-start {
  float: left !important;
}
.float-end {
  float: right !important;
}
.float-none {
  float: none !important;
}

@include screen("custom", max, 1600) {
  .md-float-start {
    float: left !important;
  }
  .md-float-end {
    float: right !important;
  }
  .md-float-none {
    float: none !important;
  }
}
@include screen("custom", max, 1300) {
  .sd-float-start {
    float: left !important;
  }
  .sd-float-end {
    float: right !important;
  }
  .sd-float-none {
    float: none !important;
  }
}
@include screen("custom", max, 1024) {
  .li-float-start {
    float: left !important;
  }
  .li-float-end {
    float: right !important;
  }
  .li-float-none {
    float: none !important;
  }
}
@include screen("custom", max, 786) {
  .si-float-start {
    float: left !important;
  }
  .si-float-end {
    float: right !important;
  }
  .si-float-none {
    float: none !important;
  }
}
@include screen("custom", max, 475) {
  .mobile-float-start {
    float: left !important;
  }
  .mobile-float-end {
    float: right !important;
  }
  .mobile-float-none {
    float: none !important;
  }
}
