@import "../../Helpers/colors/index.scss";
input,
textarea {
  padding: 19px 17px;
  background-color: $black;
  color: $grayLight;
  border: 0.6px solid $grayLight;
  outline: none;
  width: 100%;
  &:valid:not(:placeholder-shown) {
    border: 0.6px solid $brand2;
  }
  &:invalid:not(:placeholder-shown) {
    border: 0.6px solid $red;
  }
}
label {
  display: block;
  margin-bottom: 8px;
}
