$brand: #2de0dd;
$brand2: #40e08c;

$secondary: #172df7;
$secondary2: #8a2be2;
$red: #ff0000;
$withoutColor: transparent;
$btnBackgroun: #2e2f32;

$btnHoverd: rgba(92, 92, 92, 0.8);
$btnActive: rgba(92, 92, 92, 0.8);

$white: #fff;
$black: #000;
$grayLight: #ddd;
$grayDark: #999;

[color="brand"] {
  color: $brand;
}

[color="brand2"] {
  color: #40e08c;
}
[color="secondary"] {
  color: #172df7;
}
[color="secondary2"] {
  color: #8a2be2;
}
