@import "../../Helpers/helper.scss";

.container {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  align-content: start;
  position: relative;
}

@include screen("custom", max, 1920) {
  .container {
    min-width: 1300px;
    max-width: 1300px;
  }
}
@include screen("custom", max, 1600) {
  .container {
    min-width: 1200px;
    max-width: 1200px;
  }
}
@include screen("custom", max, 1300) {
  .container {
    min-width: auto;
    width: 87.5%;
    max-width: 1100px;
  }
}
@include screen("custom", max, 1024) {
  .container {
    width: auto;
    min-width: 718px;
    max-width: 718px;
  }
}
@include screen("custom", max, 768) {
  .container {
    min-width: 87.5%;
    max-width: 87.5%;
  }
}
@include screen("custom", max, 475) {
  .container {
    min-width: 87.5%;
    max-width: 87.5%;
  }
}
