@font-face {
  font-family: Helvetica Neue;
  font-weight: 100;
  src: url("fonts/helveticaneue-thin.woff") format("opentype");
}
@font-face {
  font-family: Helvetica Neue;
  font-weight: 200;
  src: url("fonts/helvetica-neue-light.woff") format("opentype");
}

@font-face {
  font-family: Helvetica Neue;
  font-weight: 300;
  src: url("fonts/HelveticaNeue-Medium.woff") format("opentype");
}

@font-face {
  font-family: Helvetica Neue;
  font-weight: 400;
  src: url("fonts/HelveticaNeue-Black.otf") format("opentype");
}
