// Breakpoints vars
$breakpoint-xs: 300px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xx: 1400px;
$breakpoint-3x: 1900px;

// Media Screen mixin
@mixin screen($size, $type: min, $pixels: $breakpoint-sm) {
  @if $size == "sm" {
    @media screen and ($type + -width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == "md" {
    @media screen and ($type + -width: $breakpoint-md) {
      @content;
    }
  } @else if $size == "lg" {
    @media screen and ($type + -width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == "xl" {
    @media screen and ($type + -width: $breakpoint-xl) {
      @content;
    }
  } @else if $size == "xx" {
    @media screen and ($type + -width: $breakpoint-xx) {
      @content;
    }
  } @else if $size == "3x" {
    @media screen and ($type + -width: $breakpoint-3x) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and ($type + -width: $pixels + px) {
      @content;
    }
  } @else {
    @content;
  }
}

// Transition-Ease mixin
@mixin transition-ease {
  transition: all 0.2s ease-in-out;
}

@mixin cubic-bezier {
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

// Transition-Linear mixin
@mixin transition-linear {
  transition: all 0.1s linear;
}

// Keyframes mixin
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

// Animations mixin
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Retina Images mixin
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

// Gradient Background mixin
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      $start-color,
      $end-color
    );
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// External Fonts mixin
@mixin font-face(
  $font-name,
  $file-name,
  $weight: normal,
  $style: normal,
  $stretch: normal
) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + ".eot");
    src: url($file-name + ".eot?#iefix") format("embedded-opentype"),
      url($file-name + ".woff") format("woff"),
      url($file-name + ".ttf") format("truetype"),
      url($file-name + ".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
    font-stretch: $stretch;
  }
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/// Clearfix extend
%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// BorderBox mixin
@mixin bordered-box(
  $border-color: $light-color,
  $border-thick: 2px,
  $border-radius: 0.5rem,
  $border-type: solid,
  $width: auto,
  $height: auto
) {
  color: $light-color;
  border: $border-thick $border-type $border-color;
  border-radius: $border-radius;
  width: $width;
  height: $height;
}

// Circular Btn mixin
@mixin circular-btn(
  $background-color: transparent,
  $border-color: $light-color,
  $border-thick: 2px,
  $width: auto
) {
  background-color: $background-color;
  color: $light-color;
  border: $border-thick solid $border-color;
  border-radius: ($width/2);
  width: $width;
  height: $width;
}
