.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  &-image {
    display: block;
    position: relative;
    figure {
      display: block;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &-content {
    background-color: #ddd;
    padding: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .media {
      display: flex;
      text-align: inherit;
      align-items: flex-start;
      margin-bottom: 24px;
      &-icon {
        margin-right: 16px;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        figure {
          height: 48px;
          width: 48px;
          display: block;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      &-content {
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
    .content {
      a {
        color: #2de0dd;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  &-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    justify-content: space-around;
    display: flex;
    &-item {
      align-items: center;
      display: flex;
      flex-basis: 0;
      text-decoration: none;
      flex-grow: 1;
      color: #000;
      flex-shrink: 0;
      justify-content: center;
      padding: 0.75rem;
      &:hover {
        color: #2de0dd;
      }
      &:not(:last-child) {
        border-right: 1px solid #000;
      }
    }
  }
  &-background {
    position: relative;
    height: 100%;
    width: 100%;
    img,
    video {
      width: 100%;
      height: 100%;
    }
  }
  &-column {
    padding: 28px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    &-icon {
      width: 55px;
      height: 55px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
[object="cover"] {
  object-fit: cover;
}
[is="bottom"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#card {
  margin-top: 3rem;
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: 1fr 3fr;
}
.h300 {
  height: 300px;
}
[width="100"] {
  width: 100%;
}
[marginLeft="20"] {
  margin-left: 20px;
}
[marginTop="30"] {
  margin-top: 30px;
}
[per="code"] {
  background-color: #f5f5f5;
  color: #da1039;
  margin-bottom: 1rem;
  font-size: 0.875em;
  font-weight: 400;
  display: inline-flex;
  padding: 0.25em 0.5em 0.25em;
}
.El-description {
  padding-left: 5rem;
}
[height="600"] {
  height: 600px;
}

[display="flex"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
