@import "../../Helpers/colors/index.scss";
.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 14px 20px;
  border: none;
  font-weight: normal;
  line-height: normal;
  color: $white;
  background: $btnBackgroun;
  cursor: pointer;
  transition: all 0.25s;
  &-icon {
    height: 14px;
    width: 14px;
    display: inline-flex;
    position: relative;
    vertical-align: -0.125em;
    fill: currentColor;
    flex-shrink: 0;
    overflow: visible;
  }
  &.is-large {
    padding: 9px 18px;
  }
  .wt {
    width: 11px;
    height: 22px;
    margin: 0 0 0 15px;
    display: flex;
  }
  &.wb {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
  &:hover {
    background: $btnHoverd;
  }
}
[mt="10"] {
  margin-left: 10px;
}
[btn="1920"] {
  padding: 14px 16px;
  font-size: 14px;
}
[btn="1600"] {
  padding: 12px 14px;
  font-size: 14px;
}
[btn="1300"] {
  padding: 10px 12px;
  font-size: 14px;
}
[btn="1024"] {
  padding: 10px 12px;
  font-size: 12px;
}
[btn="768"] {
  padding: 10px 12px;
  font-size: 12px;
}
[btn="mobile"] {
  padding: 10px 14px;
  font-size: 12px;
}
[btn="submit"] {
  background: transparent;
  border: 0.6px solid $grayLight;
}
