@import "../colors/index.scss";
@import "../helper.scss";
[header="title"] {
  margin-bottom: 8px;
}
.h1 {
  margin-bottom: 12px;
}
[color="red"] {
  color: red;
}
[title="sub-with-line"] {
  padding-bottom: 16px;
  position: relative;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $grayLight;
  }
}
ul {
  padding-left: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-bottom: 8px;
  font-weight: 200;
}
// fs="font-zide" or .fs =>  desktop
@include screen("custom", max, 1920) {
  .fs8,
  [fs="8"] {
    font-size: 8px;
  }

  .fs10,
  [fs="10"] {
    font-size: 10px;
  }

  .fs12,
  [fs="12"] {
    font-size: 12px;
  }

  .fs12,
  [fs="14"] {
    font-size: 14px;
  }

  .fs16,
  [fs="16"] {
    font-size: 16px;
  }

  .fs18,
  [fs="18"] {
    font-size: 18px;
  }

  .fs20,
  [fs="20"] {
    font-size: 20px;
  }

  .fs22,
  [fs="22"] {
    font-size: 22px;
  }

  .fs24,
  [fs="24"] {
    font-size: 24px;
  }

  .fs26,
  [fs="26"] {
    font-size: 26px;
  }

  .fs28,
  [fs="28"] {
    font-size: 28px;
  }

  .fs30,
  [fs="30"] {
    font-size: 30px;
  }

  .fs32,
  [fs="32"] {
    font-size: 32px;
  }

  .fs34,
  [fs="34"] {
    font-size: 34px;
  }

  .fs36,
  [fs="36"] {
    font-size: 36px;
  }

  .fs38,
  [fs="38"] {
    font-size: 38px;
  }

  .fs40,
  [fs="40"] {
    font-size: 40px;
  }

  .fs42,
  [fs="42"] {
    font-size: 42px;
  }

  .fs44,
  [fs="44"] {
    font-size: 44px;
  }

  .fs46,
  [fs="46"] {
    font-size: 46px;
  }

  .fs48,
  [fs="48"] {
    font-size: 48px;
  }

  .fs50,
  [fs="50"] {
    font-size: 50px;
  }

  .fs52,
  [fs="52"] {
    font-size: 52px;
  }

  .fs54,
  [fs="54"] {
    font-size: 54px;
  }

  .fs56,
  [fs="56"] {
    font-size: 56px;
  }

  .fs58,
  [fs="58"] {
    font-size: 58px;
  }

  .fs60,
  [fs="60"] {
    font-size: 60px;
  }

  .fs62,
  [fs="62"] {
    font-size: 62px;
  }

  .fs64,
  [fs="64"] {
    font-size: 64px;
  }

  .fs66,
  [fs="66"] {
    font-size: 66px;
  }

  .fs68,
  [fs="68"] {
    font-size: 68px;
  }

  .fs70,
  [fs="70"] {
    font-size: 70px;
  }

  .fs72,
  [fs="72"] {
    font-size: 72px;
  }

  .fs74,
  [fs="74"] {
    font-size: 74px;
  }

  .fs76,
  [fs="76"] {
    font-size: 76px;
  }

  .fs78,
  [fs="78"] {
    font-size: 78px;
  }

  .fs80,
  [fs="80"] {
    font-size: 80px;
  }

  .fs82,
  [fs="82"] {
    font-size: 82px;
  }

  .fs84,
  [fs="84"] {
    font-size: 84px;
  }

  .fs86,
  [fs="86"] {
    font-size: 86px;
  }

  .fs88,
  [fs="88"] {
    font-size: 88px;
  }

  .fs90,
  [fs="90"] {
    font-size: 90px;
  }

  .fs140,
  [fs="140"] {
    font-size: 140px;
  }

  .fs144,
  [fs="144"] {
    font-size: 144px;
  }

  .fs230,
  [fs="230"] {
    font-size: 230px;
  }

  .fs238,
  [fs="238"] {
    font-size: 238px;
  }

  .fs336,
  [fs="336"] {
    font-size: 336px;
  }
}
// lgfs="font-size" or .lgfs => large desktop
@include screen("custom", max, 1600) {
  .md-fs8,
  [md-fs="8"] {
    font-size: 8px;
  }

  .md-fs10,
  [md-fs="10"] {
    font-size: 10px;
  }

  .lgfs12,
  [md-fs="12"] {
    font-size: 12px;
  }

  .lgfs14,
  [md-fs="14"] {
    font-size: 14px;
  }

  .lgfs16,
  [md-fs="16"] {
    font-size: 16px;
  }

  .lgfs18,
  [md-fs="18"] {
    font-size: 18px;
  }

  .lgfs20,
  [md-fs="20"] {
    font-size: 20px;
  }

  .lgfs22,
  [md-fs="22"] {
    font-size: 22px;
  }

  .lgfs24,
  [md-fs="24"] {
    font-size: 24px;
  }

  .lgfs26,
  [md-fs="26"] {
    font-size: 26px;
  }

  .lgfs28,
  [md-fs="28"] {
    font-size: 28px;
  }

  .lgfs30,
  [md-fs="30"] {
    font-size: 30px;
  }

  .lgfs32,
  [md-fs="32"] {
    font-size: 32px;
  }

  .lgfs34,
  [md-fs="34"] {
    font-size: 34px;
  }

  .lgfs36,
  [md-fs="36"] {
    font-size: 36px;
  }

  .lgfs38,
  [md-fs="38"] {
    font-size: 38px;
  }

  .lgfs40,
  [md-fs="40"] {
    font-size: 40px;
  }

  .lgfs42,
  [md-fs="42"] {
    font-size: 42px;
  }

  .lgfs44,
  [md-fs="44"] {
    font-size: 44px;
  }

  .lgfs46,
  [md-fs="46"] {
    font-size: 46px;
  }

  .lgfs48,
  [md-fs="48"] {
    font-size: 48px;
  }

  .lgfs50,
  [md-fs="50"] {
    font-size: 50px;
  }

  .lgfs52,
  [md-fs="52"] {
    font-size: 52px;
  }

  .lgfs54,
  [md-fs="54"] {
    font-size: 54px;
  }

  .lgfs56,
  [md-fs="56"] {
    font-size: 56px;
  }

  .lgfs58,
  [md-fs="58"] {
    font-size: 58px;
  }

  .lgfs60,
  [md-fs="60"] {
    font-size: 60px;
  }

  .lgfs62,
  [md-fs="62"] {
    font-size: 62px;
  }

  .lgfs64,
  [md-fs="64"] {
    font-size: 64px;
  }

  .lgfs66,
  [md-fs="66"] {
    font-size: 66px;
  }

  .lgfs68,
  [md-fs="68"] {
    font-size: 68px;
  }

  .lgfs70,
  [md-fs="70"] {
    font-size: 70px;
  }

  .lgfs72,
  [md-fs="72"] {
    font-size: 72px;
  }

  .lgfs74,
  [md-fs="74"] {
    font-size: 74px;
  }

  .lgfs76,
  [md-fs="76"] {
    font-size: 76px;
  }

  .lgfs78,
  [md-fs="78"] {
    font-size: 78px;
  }

  .lgfs80,
  [md-fs="80"] {
    font-size: 80px;
  }

  .lgfs82,
  [md-fs="82"] {
    font-size: 82px;
  }

  .lgfs84,
  [md-fs="84"] {
    font-size: 84px;
  }

  .lgfs86,
  [md-fs="86"] {
    font-size: 86px;
  }

  .lgfs88,
  [md-fs="88"] {
    font-size: 88px;
  }

  .lgfs90,
  [md-fs="90"] {
    font-size: 90px;
  }

  .lgfs140,
  [md-fs="140"] {
    font-size: 140px;
  }

  .lgfs144,
  [md-fs="144"] {
    font-size: 144px;
  }

  .lgfs230,
  [md-fs="230"] {
    font-size: 230px;
  }

  .lgfs238,
  [md-fs="238"] {
    font-size: 238px;
  }

  .lgfs336,
  [md-fs="336"] {
    font-size: 336px;
  }
}
// sd-fs="font-size" or .sd-fs => small desktop
@include screen("custom", max, 1300) {
  .sd-fs8,
  [sd-fs="8"] {
    font-size: 8px;
  }

  .sd-fs10,
  [sd-fs="10"] {
    font-size: 10px;
  }

  .sd-fs12,
  [sd-fs="12"] {
    font-size: 12px;
  }

  .sd-fs14,
  [sd-fs="14"] {
    font-size: 14px;
  }

  .sd-fs16,
  [sd-fs="16"] {
    font-size: 16px;
  }

  .sd-fs18,
  [sd-fs="18"] {
    font-size: 18px;
  }

  .sd-fs20,
  [sd-fs="20"] {
    font-size: 20px;
  }

  .sd-fs22,
  [sd-fs="22"] {
    font-size: 22px;
  }

  .sd-fs24,
  [sd-fs="24"] {
    font-size: 24px;
  }

  .sd-fs26,
  [sd-fs="26"] {
    font-size: 26px;
  }

  .sd-fs28,
  [sd-fs="28"] {
    font-size: 28px;
  }

  .sd-fs30,
  [sd-fs="30"] {
    font-size: 30px;
  }

  .sd-fs32,
  [sd-fs="32"] {
    font-size: 32px;
  }

  .sd-fs34,
  [sd-fs="34"] {
    font-size: 34px;
  }

  .sd-fs36,
  [sd-fs="36"] {
    font-size: 36px;
  }

  .sd-fs38,
  [sd-fs="38"] {
    font-size: 38px;
  }

  .sd-fs40,
  [sd-fs="40"] {
    font-size: 40px;
  }

  .sd-fs42,
  [sd-fs="42"] {
    font-size: 42px;
  }

  .sd-fs44,
  [sd-fs="44"] {
    font-size: 44px;
  }

  .sd-fs46,
  [sd-fs="46"] {
    font-size: 46px;
  }

  .sd-fs48,
  [sd-fs="48"] {
    font-size: 48px;
  }

  .sd-fs50,
  [sd-fs="50"] {
    font-size: 50px;
  }

  .sd-fs52,
  [sd-fs="52"] {
    font-size: 52px;
  }

  .sd-fs54,
  [sd-fs="54"] {
    font-size: 54px;
  }

  .sd-fs56,
  [sd-fs="56"] {
    font-size: 56px;
  }

  .sd-fs58,
  [sd-fs="58"] {
    font-size: 58px;
  }

  .sd-fs60,
  [sd-fs="60"] {
    font-size: 60px;
  }

  .sd-fs62,
  [sd-fs="62"] {
    font-size: 62px;
  }

  .sd-fs64,
  [sd-fs="64"] {
    font-size: 64px;
  }

  .sd-fs66,
  [sd-fs="66"] {
    font-size: 66px;
  }

  .sd-fs68,
  [sd-fs="68"] {
    font-size: 68px;
  }

  .sd-fs70,
  [sd-fs="70"] {
    font-size: 70px;
  }

  .sd-fs72,
  [sd-fs="72"] {
    font-size: 72px;
  }

  .sd-fs74,
  [sd-fs="74"] {
    font-size: 74px;
  }

  .sd-fs76,
  [sd-fs="76"] {
    font-size: 76px;
  }

  .sd-fs78,
  [sd-fs="78"] {
    font-size: 78px;
  }

  .sd-fs80,
  [sd-fs="80"] {
    font-size: 80px;
  }

  .sd-fs82,
  [sd-fs="82"] {
    font-size: 82px;
  }

  .sd-fs84,
  [sd-fs="84"] {
    font-size: 84px;
  }

  .sd-fs86,
  [sd-fs="86"] {
    font-size: 86px;
  }

  .sd-fs88,
  [sd-fs="88"] {
    font-size: 88px;
  }

  .sd-fs90,
  [sd-fs="90"] {
    font-size: 90px;
  }

  .sd-fs140,
  [sd-fs="140"] {
    font-size: 140px;
  }

  .sd-fs144,
  [sd-fs="144"] {
    font-size: 144px;
  }

  .sd-fs230,
  [sd-fs="230"] {
    font-size: 230px;
  }

  .sd-fs238,
  [sd-fs="238"] {
    font-size: 238px;
  }

  .sd-fs336,
  [sd-fs="336"] {
    font-size: 336px;
  }
}
// li-fs="font-size" or .li-fs => large ipad
@include screen("custom", max, 1024) {
  .li-fs8,
  [li-fs="8"] {
    font-size: 8px;
  }

  .li-fs10,
  [li-fs="10"] {
    font-size: 10px;
  }

  .li-fs12,
  [li-fs="12"] {
    font-size: 12px;
  }

  .li-fs14,
  [li-fs="14"] {
    font-size: 14px;
  }

  .li-fs16,
  [li-fs="16"] {
    font-size: 16px;
  }

  .li-fs18,
  [li-fs="18"] {
    font-size: 18px;
  }

  .li-fs20,
  [li-fs="20"] {
    font-size: 20px;
  }

  .li-fs22,
  [li-fs="22"] {
    font-size: 22px;
  }

  .li-fs24,
  [li-fs="24"] {
    font-size: 24px;
  }

  .li-fs26,
  [li-fs="26"] {
    font-size: 26px;
  }

  .li-fs28,
  [li-fs="28"] {
    font-size: 28px;
  }

  .li-fs30,
  [li-fs="30"] {
    font-size: 30px;
  }

  .li-fs32,
  [li-fs="32"] {
    font-size: 32px;
  }

  .li-fs34,
  [li-fs="34"] {
    font-size: 34px;
  }

  .li-fs36,
  [li-fs="36"] {
    font-size: 36px;
  }

  .li-fs38,
  [li-fs="38"] {
    font-size: 38px;
  }

  .li-fs40,
  [li-fs="40"] {
    font-size: 40px;
  }

  .li-fs42,
  [li-fs="42"] {
    font-size: 42px;
  }

  .li-fs44,
  [li-fs="44"] {
    font-size: 44px;
  }

  .li-fs46,
  [li-fs="46"] {
    font-size: 46px;
  }

  .li-fs48,
  [li-fs="48"] {
    font-size: 48px;
  }

  .li-fs50,
  [li-fs="50"] {
    font-size: 50px;
  }

  .li-fs52,
  [li-fs="52"] {
    font-size: 52px;
  }

  .li-fs54,
  [li-fs="54"] {
    font-size: 54px;
  }

  .li-fs56,
  [li-fs="56"] {
    font-size: 56px;
  }

  .li-fs58,
  [li-fs="58"] {
    font-size: 58px;
  }

  .li-fs60,
  [li-fs="60"] {
    font-size: 60px;
  }

  .li-fs62,
  [li-fs="62"] {
    font-size: 62px;
  }

  .li-fs64,
  [li-fs="64"] {
    font-size: 64px;
  }

  .li-fs66,
  [li-fs="66"] {
    font-size: 66px;
  }

  .li-fs68,
  [li-fs="68"] {
    font-size: 68px;
  }

  .li-fs70,
  [li-fs="70"] {
    font-size: 70px;
  }

  .li-fs72,
  [li-fs="72"] {
    font-size: 72px;
  }

  .li-fs74,
  [li-fs="74"] {
    font-size: 74px;
  }

  .li-fs76,
  [li-fs="76"] {
    font-size: 76px;
  }

  .li-fs78,
  [li-fs="78"] {
    font-size: 78px;
  }

  .li-fs80,
  [li-fs="80"] {
    font-size: 80px;
  }

  .li-fs82,
  [li-fs="82"] {
    font-size: 82px;
  }

  .li-fs84,
  [li-fs="84"] {
    font-size: 84px;
  }

  .li-fs86,
  [li-fs="86"] {
    font-size: 86px;
  }

  .li-fs88,
  [li-fs="88"] {
    font-size: 88px;
  }

  .li-fs90,
  [li-fs="90"] {
    font-size: 90px;
  }

  .li-fs140,
  [li-fs="140"] {
    font-size: 140px;
  }

  .li-fs144,
  [li-fs="144"] {
    font-size: 144px;
  }

  .li-fs230,
  [li-fs="230"] {
    font-size: 230px;
  }

  .li-fs238,
  [li-fs="238"] {
    font-size: 238px;
  }

  .li-fs336,
  [li-fs="336"] {
    font-size: 336px;
  }
}
// si-fs="font-size" or .si-fs => small ipad
@include screen("custom", max, 768) {
  .si-fs8,
  [si-fs="8"] {
    font-size: 8px;
  }

  .si-fs10,
  [si-fs="10"] {
    font-size: 10px;
  }

  .si-fs12,
  [si-fs="12"] {
    font-size: 12px;
  }

  .si-fs14,
  [si-fs="14"] {
    font-size: 14px;
  }

  .si-fs16,
  [si-fs="16"] {
    font-size: 16px;
  }

  .si-fs18,
  [si-fs="18"] {
    font-size: 18px;
  }

  .si-fs20,
  [si-fs="20"] {
    font-size: 20px;
  }

  .si-fs22,
  [si-fs="22"] {
    font-size: 22px;
  }

  .si-fs24,
  [si-fs="24"] {
    font-size: 24px;
  }

  .si-fs26,
  [si-fs="26"] {
    font-size: 26px;
  }

  .si-fs28,
  [si-fs="28"] {
    font-size: 28px;
  }

  .si-fs30,
  [si-fs="30"] {
    font-size: 30px;
  }

  .si-fs32,
  [si-fs="32"] {
    font-size: 32px;
  }

  .si-fs34,
  [si-fs="34"] {
    font-size: 34px;
  }

  .si-fs36,
  [si-fs="36"] {
    font-size: 36px;
  }

  .si-fs38,
  [si-fs="38"] {
    font-size: 38px;
  }

  .si-fs40,
  [si-fs="40"] {
    font-size: 40px;
  }

  .si-fs42,
  [si-fs="42"] {
    font-size: 42px;
  }

  .si-fs44,
  [si-fs="44"] {
    font-size: 44px;
  }

  .si-fs46,
  [si-fs="46"] {
    font-size: 46px;
  }

  .si-fs48,
  [si-fs="48"] {
    font-size: 48px;
  }

  .si-fs50,
  [si-fs="50"] {
    font-size: 50px;
  }

  .si-fs52,
  [si-fs="52"] {
    font-size: 52px;
  }

  .si-fs54,
  [si-fs="54"] {
    font-size: 54px;
  }

  .si-fs56,
  [si-fs="56"] {
    font-size: 56px;
  }

  .si-fs58,
  [si-fs="58"] {
    font-size: 58px;
  }

  .si-fs60,
  [si-fs="60"] {
    font-size: 60px;
  }

  .si-fs62,
  [si-fs="62"] {
    font-size: 62px;
  }

  .si-fs64,
  [si-fs="64"] {
    font-size: 64px;
  }

  .si-fs66,
  [si-fs="66"] {
    font-size: 66px;
  }

  .si-fs68,
  [si-fs="68"] {
    font-size: 68px;
  }

  .si-fs70,
  [si-fs="70"] {
    font-size: 70px;
  }

  .si-fs72,
  [si-fs="72"] {
    font-size: 72px;
  }

  .si-fs74,
  [si-fs="74"] {
    font-size: 74px;
  }

  .si-fs76,
  [si-fs="76"] {
    font-size: 76px;
  }

  .si-fs78,
  [si-fs="78"] {
    font-size: 78px;
  }

  .si-fs80,
  [si-fs="80"] {
    font-size: 80px;
  }

  .si-fs82,
  [si-fs="82"] {
    font-size: 82px;
  }

  .si-fs84,
  [si-fs="84"] {
    font-size: 84px;
  }

  .si-fs86,
  [si-fs="86"] {
    font-size: 86px;
  }

  .si-fs88,
  [si-fs="88"] {
    font-size: 88px;
  }

  .si-fs90,
  [si-fs="90"] {
    font-size: 90px;
  }

  .si-fs140,
  [si-fs="140"] {
    font-size: 140px;
  }

  .si-fs144,
  [si-fs="144"] {
    font-size: 144px;
  }

  .si-fs230,
  [si-fs="230"] {
    font-size: 230px;
  }

  .si-fs238,
  [si-fs="238"] {
    font-size: 238px;
  }

  .si-fs336,
  [si-fs="336"] {
    font-size: 336px;
  }
}
// mobilefs="font-size" or .mobilefs => mobile
@include screen("custom", max, 475) {
  .mobilefs8,
  [mobilefs="8"] {
    font-size: 8px;
  }

  .mobilefs10,
  [mobilefs="10"] {
    font-size: 10px;
  }

  .mobilefs12,
  [mobilefs="12"] {
    font-size: 12px;
  }

  .mobilefs14,
  [mobilefs="14"] {
    font-size: 14px;
  }

  .mobilefs16,
  [mobilefs="16"] {
    font-size: 16px;
  }

  .mobilefs18,
  [mobilefs="18"] {
    font-size: 18px;
  }

  .mobilefs20,
  [mobilefs="20"] {
    font-size: 20px;
  }

  .mobilefs22,
  [mobilefs="22"] {
    font-size: 22px;
  }

  .mobilefs24,
  [mobilefs="24"] {
    font-size: 24px;
  }

  .mobilefs26,
  [mobilefs="26"] {
    font-size: 26px;
  }

  .mobilefs28,
  [mobilefs="28"] {
    font-size: 28px;
  }

  .mobilefs30,
  [mobilefs="30"] {
    font-size: 30px;
  }

  .mobilefs32,
  [mobilefs="32"] {
    font-size: 32px;
  }

  .mobilefs34,
  [mobilefs="34"] {
    font-size: 34px;
  }

  .mobilefs36,
  [mobilefs="36"] {
    font-size: 36px;
  }

  .mobilefs38,
  [mobilefs="38"] {
    font-size: 38px;
  }

  .mobilefs40,
  [mobilefs="40"] {
    font-size: 40px;
  }

  .mobilefs42,
  [mobilefs="42"] {
    font-size: 42px;
  }

  .mobilefs44,
  [mobilefs="44"] {
    font-size: 44px;
  }

  .mobilefs46,
  [mobilefs="46"] {
    font-size: 46px;
  }

  .mobilefs48,
  [mobilefs="48"] {
    font-size: 48px;
  }

  .mobilefs50,
  [mobilefs="50"] {
    font-size: 50px;
  }

  .mobilefs52,
  [mobilefs="52"] {
    font-size: 52px;
  }

  .mobilefs54,
  [mobilefs="54"] {
    font-size: 54px;
  }

  .mobilefs56,
  [mobilefs="56"] {
    font-size: 56px;
  }

  .mobilefs58,
  [mobilefs="58"] {
    font-size: 58px;
  }

  .mobilefs60,
  [mobilefs="60"] {
    font-size: 60px;
  }

  .mobilefs62,
  [mobilefs="62"] {
    font-size: 62px;
  }

  .mobilefs64,
  [mobilefs="64"] {
    font-size: 64px;
  }

  .mobilefs66,
  [mobilefs="66"] {
    font-size: 66px;
  }

  .mobilefs68,
  [mobilefs="68"] {
    font-size: 68px;
  }

  .mobilefs70,
  [mobilefs="70"] {
    font-size: 70px;
  }

  .mobilefs72,
  [mobilefs="72"] {
    font-size: 72px;
  }

  .mobilefs74,
  [mobilefs="74"] {
    font-size: 74px;
  }

  .mobilefs76,
  [mobilefs="76"] {
    font-size: 76px;
  }

  .mobilefs78,
  [mobilefs="78"] {
    font-size: 78px;
  }

  .mobilefs80,
  [mobilefs="80"] {
    font-size: 80px;
  }

  .mobilefs82,
  [mobilefs="82"] {
    font-size: 82px;
  }

  .mobilefs84,
  [mobilefs="84"] {
    font-size: 84px;
  }

  .mobilefs86,
  [mobilefs="86"] {
    font-size: 86px;
  }

  .mobilefs88,
  [mobilefs="88"] {
    font-size: 88px;
  }

  .mobilefs90,
  [mobilefs="90"] {
    font-size: 90px;
  }

  .mobilefs140,
  [mobilefs="140"] {
    font-size: 140px;
  }

  .mobilefs144,
  [mobilefs="144"] {
    font-size: 144px;
  }

  .mobilefs230,
  [mobilefs="230"] {
    font-size: 230px;
  }

  .mobilefs238,
  [mobilefs="238"] {
    font-size: 238px;
  }

  .mobilefs336,
  [mobilefs="336"] {
    font-size: 336px;
  }
}
