@import "../../Helpers/colors/index.scss";
a {
  text-decoration: none;
  color: $white;
  &:hover {
    color: $grayLight;
  }
  &.active {
    color: $brand;
  }
  &.focus {
    font-weight: bold;
  }
  &.downlaod-link {
    position: relative;
    border-bottom: 1px solid #999;

    &::after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      transition: 1s;
      height: 1px;
      background: #fff;
      width: 0%;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

[line="under"] {
  text-decoration: underline;
}
[status="hover"] {
  color: $grayLight;
}
