@import "../../Helpers/helper.scss";
.display-f {
  display: flex !important;
}
.display-b {
  display: block !important;
}
.display-g {
  display: grid !important;
}
.display-n {
  display: none !important;
}
.display-i {
  display: inline !important;
}
.display-ib {
  display: inline-block !important;
}
.display-if {
  display: inline-flex !important;
}
.display-t {
  display: table !important;
}
.display-tc {
  display: table-cell !important;
}
.display-tr {
  display: table-row !important;
}
// md
@include screen("custom", max, 1600) {
  .md-display-f {
    display: flex !important;
  }
  .md-display-b {
    display: block !important;
  }
  .md-display-g {
    display: grid !important;
  }
  .md-display-n {
    display: none !important;
  }
  .md-display-i {
    display: inline !important;
  }
  .md-display-ib {
    display: inline-block !important;
  }
  .md-display-if {
    display: inline-flex !important;
  }
  .md-display-t {
    display: table !important;
  }
  .md-display-tc {
    display: table-cell !important;
  }
  .md-display-tr {
    display: table-row !important;
  }
}
// sd
@include screen("custom", max, 1300) {
  .sd-display-f {
    display: flex !important;
  }
  .sd-display-b {
    display: block !important;
  }
  .sd-display-g {
    display: grid !important;
  }
  .sd-display-n {
    display: none !important;
  }
  .sd-display-i {
    display: inline !important;
  }
  .sd-display-ib {
    display: inline-block !important;
  }
  .sd-display-if {
    display: inline-flex !important;
  }
  .sd-display-t {
    display: table !important;
  }
  .sd-display-tc {
    display: table-cell !important;
  }
  .sd-display-tr {
    display: table-row !important;
  }
}
// li
@include screen("custom", max, 1024) {
  .li-display-f {
    display: flex !important;
  }
  .li-display-b {
    display: block !important;
  }
  .li-display-g {
    display: grid !important;
  }
  .li-display-n {
    display: none !important;
  }
  .li-display-i {
    display: inline !important;
  }
  .li-display-ib {
    display: inline-block !important;
  }
  .li-display-if {
    display: inline-flex !important;
  }
  .li-display-t {
    display: table !important;
  }
  .li-display-tc {
    display: table-cell !important;
  }
  .li-display-tr {
    display: table-row !important;
  }
}
// si
@include screen("custom", max, 768) {
  .si-display-f {
    display: flex !important;
  }
  .si-display-b {
    display: block !important;
  }
  .si-display-g {
    display: grid !important;
  }
  .si-display-n {
    display: none !important;
  }
  .si-display-i {
    display: inline !important;
  }
  .si-display-ib {
    display: inline-block !important;
  }
  .si-display-if {
    display: inline-flex !important;
  }
  .si-display-t {
    display: table !important;
  }
  .si-display-tc {
    display: table-cell !important;
  }
  .si-display-tr {
    display: table-row !important;
  }
}
// mobile
@include screen("custom", max, 475) {
  .mobile-display-f {
    display: flex !important;
  }
  .mobile-display-b {
    display: block !important;
  }
  .mobile-display-g {
    display: grid !important;
  }
  .mobile-display-n {
    display: none !important;
  }
  .mobile-display-i {
    display: inline !important;
  }
  .mobile-display-ib {
    display: inline-block !important;
  }
  .mobile-display-if {
    display: inline-flex !important;
  }
  .mobile-display-t {
    display: table !important;
  }
  .mobile-display-tc {
    display: table-cell !important;
  }
  .mobile-display-tr {
    display: table-row !important;
  }
}
