body {
  min-height: 100vh;
  font-family: Helvetica Neue;
  font-weight: 200;
}
#carbonizer {
  position: relative;
  display: grid;
  grid-template-columns: 15% 85%;
  min-height: 100vh;
}
.carbonizer-list {
  /* width: 15%; */
  background-color: #fafafa;
  padding: 20px;
  /* height: 100vh; */
  overflow-y: scroll;
}
.carbonizer-list ul {
  list-style-type: none;
}
.carbonizer-list li {
  padding: 10px;
}
.carbonizer-list span {
  font-weight: bold;
  color: #2de0dd;
  text-decoration: underline;
}
.carbonizer-list li:hover {
  background-color: #ddd;
}
.carbonizer-list li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.carbonizer-list h1 {
  margin-bottom: 30px;
}
.carbonizer-main {
  padding: 100px 100px 0 100px;
  /* width: 70%; */
  color: #fff;
  background-color: #000;
  margin-bottom: 10rem;
}

code {
  position: relative;
  top: 20px;
  background: #282828;
  padding: 10px;
  color: #ddd;
  display: block;
  white-space: pre-wrap;
}
code p {
  display: block;
}

pre {
  white-space: pre;
  word-break: break-word;
  -webkit-font-smoothing: auto;
}

.container {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
  display: flex;
}
[height="600"] {
  height: 600px;
}
body {
  background-color: #000;
}
