@import "../../Helpers/colors/index.scss";

select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  min-width: 200px;
  min-height: 40px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $grayDark;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: $grayDark;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: $brand;
}
