.accordion {
  display: block;
  width: 100%;
  &-item {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ddd;
    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      .accordion-button {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
  &-header {
    margin-bottom: 0;
  }
  &-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 18.4px 24px;
    text-align: left;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
  }
  &-body {
    padding: 18.4px 24px;
  }
}
.collapse {
  &:not(.show) {
    display: none;
  }
}
